Dataset:\
https://www.kaggle.com/datasets/imdevskp/cholera-dataset

In [1]:
import pandas as pd

### 1. Data treatment

In [2]:
data = pd.read_csv('data.csv')
data.head()

,Country,Year,Number of reported cases of cholera,Number of reported deaths from cholera,Cholera case fatality rate,WHO Region
0,Afghanistan,2016,677,5,0.7,Eastern Mediterranean
1,Afghanistan,2015,58064,8,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481,4,0.0,Eastern Mediterranean
3,Afghanistan,2013,3957,14,0.35,Eastern Mediterranean
4,Afghanistan,2012,12,0,0.1,Eastern Mediterranean

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2492 entries, 0 to 2491
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 2492 non-null   object
 1   Year                                    2492 non-null   int64
 2   Number of reported cases of cholera     2470 non-null   object
 3   Number of reported deaths from cholera  2375 non-null   object
 4   Cholera case fatality rate              2365 non-null   object
 5   WHO Region                              2492 non-null   object
dtypes: int64(1), object(5)
memory usage: 116.9+ KB

In [4]:
data['Number of reported cases of cholera'] = pd.to_numeric(
    data['Number of reported cases of cholera'], 
    errors='coerce', 
    downcast='float')

data['Number of reported deaths from cholera'] = pd.to_numeric(
    data['Number of reported deaths from cholera'], 
    errors='coerce', 
    downcast='float')

data['Cholera case fatality rate'] = pd.to_numeric(
    data['Cholera case fatality rate'], 
    errors='coerce', 
    downcast='float')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2492 entries, 0 to 2491
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 2492 non-null   object
 1   Year                                    2492 non-null   int64
 2   Number of reported cases of cholera     2469 non-null   float32
 3   Number of reported deaths from cholera  2373 non-null   float32
 4   Cholera case fatality rate              2363 non-null   float32
 5   WHO Region                              2492 non-null   object
dtypes: float32(3), int64(1), object(2)
memory usage: 87.7+ KB

In [5]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2352 entries, 0 to 2468
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 2352 non-null   object
 1   Year                                    2352 non-null   int64
 2   Number of reported cases of cholera     2352 non-null   float32
 3   Number of reported deaths from cholera  2352 non-null   float32
 4   Cholera case fatality rate              2352 non-null   float32
 5   WHO Region                              2352 non-null   object
dtypes: float32(3), int64(1), object(2)
memory usage: 101.1+ KB

In [6]:
data.head()

,Country,Year,Number of reported cases of cholera,Number of reported deaths from cholera,Cholera case fatality rate,WHO Region
0,Afghanistan,2016,677.0,5.0,0.70,Eastern Mediterranean
1,Afghanistan,2015,58064.0,8.0,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481.0,4.0,0.00,Eastern Mediterranean
3,Afghanistan,2013,3957.0,14.0,0.35,Eastern Mediterranean
4,Afghanistan,2012,12.0,0.0,0.10,Eastern Mediterranean

In [7]:
data.loc[data['Country']=='Congo', 'WHO Region'] = 'Africa'
data

,Country,Year,Number of reported cases of cholera,Number of reported deaths from cholera,Cholera case fatality rate,WHO Region
0,Afghanistan,2016,677.0,5.0,0.70,Eastern Mediterranean
1,Afghanistan,2015,58064.0,8.0,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481.0,4.0,0.00,Eastern Mediterranean
3,Afghanistan,2013,3957.0,14.0,0.35,Eastern Mediterranean
4,Afghanistan,2012,12.0,0.0,0.10,Eastern Mediterranean
...,...,...,...,...,...,...
2463,Zimbabwe,1992,2048.0,105.0,5.13,Africa
2465,Zimbabwe,1985,144.0,6.0,4.17,Africa
2466,Zimbabwe,1976,144.0,9.0,6.25,Africa
2467,Zimbabwe,1975,615.0,33.0,5.37,Africa
2468,Zimbabwe,1974,37.0,0.0,0.00,Africa